.contacto {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.contacto h4 {
    font-size: large;
    margin-bottom: 1rem;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.mail h5 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: medium;
}

.mailcito {
    max-width: 1.4rem;
    margin-right: 5px;
}