.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.subsub {
    color: #141414;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.card h5,
p {
    text-align: center;
    color: #141414;
    font-weight: 300;
}

.card img {
    width: 100%;
    max-height: 13rem;
}

.card h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin: 1rem;
}

.card p {
    font-family: 'Roboto Slab', serif;
}