.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin: 3rem;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3rem
}

.card {
    margin: 1rem;
    min-height: 13rem;
}

.card h5,
p {
    text-align: center;

}

.card img {
    width: 100%;
    max-height: 13rem;
}

.card h5 {
    margin: 1rem;
}

.card p {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.subsub {
    color: white;
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: large;
}