.navbar a:hover {
    color: #3498db;
    transition: 0.2s;
}

.navbar a,
button {
    color: white;
}

.navbar {
    padding: 0.5rem;
    background-color: #0e1113;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    max-width: 4rem;
    opacity: 0.7;
}

.logo:hover {
    opacity: 1;
    transition: 0.3s;
}

.nav-link {
    font-size: 1.1rem;
}