.Servicios {
    color: #141414;
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.card {
    border-color: #0f1214;
    border-radius: 10px;
    background-color: #f6f6f6;
}

.card img {
    width: 100%;
    min-height: 200px;
}

.linkCard {
    text-decoration: none;
    color: #0f1214;
    opacity: 0.8;
}

.linkCard:hover {
    opacity: 1;
    transition: 0.4s;
}

.contenedorServicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
